distribuerade/vecka2/labb/Telefonbok_Karlsson_Robert/Telefonbok/Service References/TelefonService/KontaktService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KontaktService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53852/KontaktService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53852/KontaktService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53852/KontaktService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TelefonService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKontaktService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IKontaktService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IKontaktService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IKontaktService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IKontaktService_HämtaAllaKontakter_InputMessage">
    <wsdl:part name="parameters" element="tns:HämtaAllaKontakter" />
  </wsdl:message>
  <wsdl:message name="IKontaktService_HämtaAllaKontakter_OutputMessage">
    <wsdl:part name="parameters" element="tns:HämtaAllaKontakterResponse" />
  </wsdl:message>
  <wsdl:message name="IKontaktService_LäggTillKontakt_InputMessage">
    <wsdl:part name="parameters" element="tns:LäggTillKontakt" />
  </wsdl:message>
  <wsdl:message name="IKontaktService_LäggTillKontakt_OutputMessage">
    <wsdl:part name="parameters" element="tns:LäggTillKontaktResponse" />
  </wsdl:message>
  <wsdl:message name="IKontaktService_TaBortKontakt_InputMessage">
    <wsdl:part name="parameters" element="tns:TaBortKontakt" />
  </wsdl:message>
  <wsdl:message name="IKontaktService_TaBortKontakt_OutputMessage">
    <wsdl:part name="parameters" element="tns:TaBortKontaktResponse" />
  </wsdl:message>
  <wsdl:message name="IKontaktService_ÄndraKontakt_InputMessage">
    <wsdl:part name="parameters" element="tns:ÄndraKontakt" />
  </wsdl:message>
  <wsdl:message name="IKontaktService_ÄndraKontakt_OutputMessage">
    <wsdl:part name="parameters" element="tns:ÄndraKontaktResponse" />
  </wsdl:message>
  <wsdl:message name="IKontaktService_SökKontakter_InputMessage">
    <wsdl:part name="parameters" element="tns:SökKontakter" />
  </wsdl:message>
  <wsdl:message name="IKontaktService_SökKontakter_OutputMessage">
    <wsdl:part name="parameters" element="tns:SökKontakterResponse" />
  </wsdl:message>
  <wsdl:portType name="IKontaktService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IKontaktService/GetData" message="tns:IKontaktService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKontaktService/GetDataResponse" message="tns:IKontaktService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IKontaktService/GetDataUsingDataContract" message="tns:IKontaktService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKontaktService/GetDataUsingDataContractResponse" message="tns:IKontaktService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HämtaAllaKontakter">
      <wsdl:input wsaw:Action="http://tempuri.org/IKontaktService/HämtaAllaKontakter" message="tns:IKontaktService_HämtaAllaKontakter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKontaktService/HämtaAllaKontakterResponse" message="tns:IKontaktService_HämtaAllaKontakter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LäggTillKontakt">
      <wsdl:input wsaw:Action="http://tempuri.org/IKontaktService/LäggTillKontakt" message="tns:IKontaktService_LäggTillKontakt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKontaktService/LäggTillKontaktResponse" message="tns:IKontaktService_LäggTillKontakt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TaBortKontakt">
      <wsdl:input wsaw:Action="http://tempuri.org/IKontaktService/TaBortKontakt" message="tns:IKontaktService_TaBortKontakt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKontaktService/TaBortKontaktResponse" message="tns:IKontaktService_TaBortKontakt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ÄndraKontakt">
      <wsdl:input wsaw:Action="http://tempuri.org/IKontaktService/ÄndraKontakt" message="tns:IKontaktService_ÄndraKontakt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKontaktService/ÄndraKontaktResponse" message="tns:IKontaktService_ÄndraKontakt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SökKontakter">
      <wsdl:input wsaw:Action="http://tempuri.org/IKontaktService/SökKontakter" message="tns:IKontaktService_SökKontakter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKontaktService/SökKontakterResponse" message="tns:IKontaktService_SökKontakter_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKontaktService" type="tns:IKontaktService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IKontaktService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IKontaktService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HämtaAllaKontakter">
      <soap:operation soapAction="http://tempuri.org/IKontaktService/HämtaAllaKontakter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LäggTillKontakt">
      <soap:operation soapAction="http://tempuri.org/IKontaktService/LäggTillKontakt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TaBortKontakt">
      <soap:operation soapAction="http://tempuri.org/IKontaktService/TaBortKontakt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ÄndraKontakt">
      <soap:operation soapAction="http://tempuri.org/IKontaktService/ÄndraKontakt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SökKontakter">
      <soap:operation soapAction="http://tempuri.org/IKontaktService/SökKontakter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KontaktService">
    <wsdl:port name="BasicHttpBinding_IKontaktService" binding="tns:BasicHttpBinding_IKontaktService">
      <soap:address location="http://localhost:53852/KontaktService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>